/* Vraj Joshi 8912494*/
body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(275, 76%, 59%, 0.5);
}
h2{
    color : #f02;
    font-size : 2em; 
}